@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-cormorant: "Cormorant Garamond", serif;
  --font-urbanist: "Urbanist", serif;
  --font-oswald: "Oswald", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

:root {
  font-family: var(--font-oswald), system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #02253d;
  background-image: url("/map.jpg");
  background-size: 118%;
  background-position: center;
  background-repeat: no-repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 5.8rem;
  font-weight: 300;
  line-height: 1.1;
  text-shadow: white 1px 0 10px;
}

button {
  padding: 0.75rem;
  font-size: 1em;
  background-color: #ffffffdb;
  cursor: pointer;
}
button:hover {
  background-color: white;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 0.375rem;
  background-color: #0000005f;
}

.divider {
  border-bottom-width: 1px;
  border-color: #0000005f;
}

.label {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 1.5rem;
  text-align: center;
  color: #26223d;
  background-color: #ffffffdb;
  font-family: var(--font-cormorant);
  font-weight: 600;
}

#submit {
  font-size: 1.8rem;
  font-family: var(--font-cormorant);
  font-weight: 600;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
